:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%); /* #f8f8fe; */
  --Light-Gray: hsl(0, 0%, 75%);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

form input,
form button {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
form input::placeholder {
  color: var(--Light-Gray);
  font-family: "Open Sans", sans-serif;
}
header,
.sign-up,
.more-info,
.early-access,
footer {
  padding: 2rem;
  text-align: center;
}

header {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div img {
  width: 6rem;
}
header nav a {
  text-decoration: none;
  color: #000;
  margin-right: 0.6rem;
  transition: all 0.2s ease;
}
header nav a:hover,
header nav a:focus {
  cursor: pointer;
  color: var(--Bright-Blue);
  text-decoration: underline;
  text-underline-offset: 6px;
}
header nav a:last-child {
  margin-right: 0;
}

.sign-up .sign-up-img img {
  width: 90%;
  margin-bottom: 2rem;
}
.sign-up h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5;
}
.sign-up p {
  max-width: 400px;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  margin-inline: auto;
}
.sign-up form {
  margin-bottom: 3rem;
}
.sign-up form input {
  margin-bottom: 1rem;
}
.sign-up form button {
  background-color: var(--Bright-Blue);
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  border: none;
  transition: all 0.25s;
}
.sign-up form button:hover,
.sign-up form button:focus {
  cursor: pointer;
  background-color: hsl(224, 93%, 68%);
}

picture img {
  display: block;
}

.more-info {
  background-color: #f8f8fe;
}
.more-info .more-info-img img {
  width: 90%;
  margin: 2rem 0 3rem;
}
.more-info h2 {
  font-size: 1rem;
}
.more-info p.transf {
  font-size: 0.9rem;
  text-align: start;
  transform: translateX(-9px);
}
.how-fylo-works {
  display: flex;
  justify-content: center;
}
.how-fylo-works > div {
  display: flex;
  align-items: center;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--Moderate-Cyan);
}
.how-fylo-works div:hover,
.how-fylo-works div:focus {
  cursor: pointer;
  opacity: 0.7;
}
.how-fylo-works a {
  color: var(--Moderate-Cyan);
  text-decoration: none;
}
.how-fylo-works img {
  width: 25px;
  transform: translateX(3px);
}
.card {
  background-color: #fff;
  font-size: 0.9rem;
  text-align: start;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
  margin: 3rem 0;
}
.card > img {
  width: 18px;
  height: 19px;
}
.card .card-review {
  line-height: 1.6;
  margin: 0;
}
.card .user {
  display: flex;
  align-items: center;
}
.card .user img {
  width: 30px;
  border-radius: 50%;
  margin-right: 0.6rem;
}
.card .user p {
  max-width: 123px;
  font-size: 0.6rem;
}
.card .user p span {
  font-size: 0.9rem;
  font-weight: bold;
}

.container-desaturated {
  background-color: var(--Desaturated-Blue);
}
.early-access {
  background-color: var(--Desaturated-Blue);
  color: #fff;
  text-align: center;
}
.early-access h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.3px;
}
.early-access p {
  letter-spacing: 0.1px;
  line-height: 1.6;
}
.early-access form {
  margin-bottom: 2rem;
}
.early-access form input {
  margin: 0.6rem 0;
}
.early-access form button {
  background-color: var(--Bright-Blue);
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.25s;
}
.early-access form button:hover,
.early-access form button:focus {
  cursor: pointer;
  background-color: hsl(224, 93%, 68%);
}

footer {
  background-color: var(--Very-Dark-Blue);
  color: #fff;
  text-align: start;
}
.footer-top,
.footer-center,
.footer-bottom {
  margin-bottom: 4rem;
}
.footer-top > img {
  width: 60%;
  margin: 2rem 0;
}
.contact-phone,
.contact-email {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.contact-phone img,
.contact-email img {
  width: 20px;
  margin-right: 1.6rem;
}
.footer-center div {
  display: flex;
  flex-direction: column;
}
.footer-center div:nth-child(1) {
  margin-bottom: 3rem;
}
.footer-center div a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
}
.footer-center div a:hover,
.footer-center div a:focus {
  color: var(--Bright-Blue);
}
.footer-center div a:last-child {
  margin-bottom: 0;
}
.footer-bottom {
  text-align: center;
}
.footer-bottom svg {
  width: 15px;
  height: 15px;
  fill: #fff;
  padding: 0.3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 1rem;
}
.footer-bottom svg:hover {
  fill: var(--Bright-Blue);
  border: 1px solid var(--Bright-Blue);
}
footer > p {
  font-size: 0.9rem;
  text-align: center;
  opacity: 0.3;
}
footer > p a {
  color: #fff;
  text-decoration: none;
}
footer > p a:hover,
footer > p a:focus {
  text-decoration: underline;
}

@media (min-width: 900px) {
  header,
  .sign-up,
  .more-info,
  .early-access,
  footer {
    text-align: start;
    max-width: 1440px;
    margin: 0 auto;
  }
  header {
    padding-top: 6rem;
  }
  header div img {
    width: 100%;
  }
  header nav a {
    margin-right: 3rem;
    font-size: 1.2rem;
  }

  .sign-up,
  .more-info,
  .early-access,
  .footer-container {
    display: flex;
  }
  .sign-up {
    padding-top: 0;
  }
  .sign-up div:nth-child(1),
  .more-info div:nth-child(1) {
    order: 2;
  }
  .sign-up .sign-up-img,
  .more-info .more-info-img {
    text-align: end;
  }
  .sign-up h1 {
    font-size: 2.6rem;
  }
  .sign-up p {
    max-width: 630px;
    font-size: 1.2rem;
    margin-inline: 0;
  }
  .sign-up form {
    width: 80%;
    display: flex;
  }
  .sign-up form input {
    margin-right: 1rem;
  }
  .sign-up form button {
    width: 70%;
  }

  .container-grayish {
    background-color: #f8f8fe;
  }
  .more-info {
    padding-top: 0;
  }
  .more-info h2 {
    font-size: 2.2rem;
  }
  .more-info p.transf {
    max-width: 500px;
    transform: translateX(0);
    font-size: 1rem;
  }
  .how-fylo-works {
    justify-content: start;
  }
  .card {
    width: 50%;
  }

  .early-access div {
    width: 60%;
  }
  .early-access form {
    width: 40%;
  }
  .early-access h2 {
    margin-top: 0;
  }
  .early-access p {
    max-width: 510px;
    padding-right: 1rem;
  }
  .early-access form button {
    width: 45%;
  }

  .container-dark {
    background-color: var(--Very-Dark-Blue);
  }
  .footer-container {
    margin-bottom: 6rem;
  }
  .footer-top {
    width: 33%;
  }
  .footer-top .contact-phone p {
    margin-top: 0;
  }
  .footer-top > img {
    max-width: 166px;
  }
  .footer-center {
    width: 33%;
    display: flex;
    justify-content: space-around;
    margin: 7rem 0 0;
  }
  .footer-bottom {
    width: 33%;
    margin: 7rem 0 0;
  }
}
